@model HomeVM
@{
    ViewData["Title"] = "Home Page";
    int count = 0;
}


<div class="input my-5">
    <input type="text" class="search-name" id="searchinp" placeholder="Search...">
</div>
<div class="container my-5">
    <div class="search-list">
        <ul class="d-block search-list-p" id="searchList"></ul>
    </div>
</div>
<table class="table my-5">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">UserId</th>
            <th scope="col">Body</th>
            <th scope="col">Title</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Posts)
        {
            count++;
            <tr>
                <th scope="row">@count</th>
                <td>@item.id</td>
                <td>@item.userId</td>
                <td>@item.body</td>
                <td>@item.title</td>
            </tr>
        }
    </tbody>
</table>



<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item  @(Model.Paginate.HasPrevious ? "":"d-none")">
            <a class="page-link" asp-action="Index" asp-route-page="@(Model.Paginate.CurrentPage - 1)"> << </a>
        </li>
        @for (int i = 1; i <= Model.Paginate.TotalPage; i++)
        {
            <li class="page-item @(Model.Paginate.CurrentPage == i ? "disabled":"")"><a class="page-link" asp-action="Index" asp-route-page="@i">@i</a></li> 
        }
        <li class="page-item @(Model.Paginate.HasNext ? "":"d-none")">
            <a class="page-link" aria-label="Next" asp-action="Index" asp-route-page="@(Model.Paginate.CurrentPage + 1)"> &raquo; </a>  
        </li>
    </ul>
</nav>
